Repository Jamen1147/FB: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore: configured eslint & prettier
  .eslintignore
  .eslintrc
  .prettierignore
  .prettierrc
Due: none

chore: updated gitignored to ignore vscode configs
  .gitignore
Due: none

chore: updated test script
  packages/client/package.json
  packages/common/package.json
  packages/components/package.json
  packages/components/src/index.ts
  packages/server/package.json
Due: prettier --write, eslint --cache --fix

chore: updated gitignored to ignore eslint cahce
  .gitignore
Due: none

chore: ejected client
  packages/client/config/env.js
  packages/client/config/getHttpsConfig.js
  packages/client/config/jest/babelTransform.js
  packages/client/config/jest/cssTransform.js
  packages/client/config/jest/fileTransform.js
  packages/client/config/modules.js
  packages/client/config/paths.js
  packages/client/config/pnpTs.js
  packages/client/config/webpack.config.js
  packages/client/config/webpackDevServer.config.js
  packages/client/package.json
  packages/client/scripts/build.js
  packages/client/scripts/start.js
  packages/client/scripts/test.js
  packages/client/src/react-app-env.d.ts
Due: prettier --write, eslint --cache --fix

chore: updated eslint configs
  .eslintignore
  .eslintrc
Due: none

chore: install eslint and configs for common
  packages/common/package.json
Due: prettier --write

feat: added shraed typings in common
  packages/common/types/TimeStatus.ts
  packages/common/types/User.ts
  packages/common/types/index.ts
Due: prettier --write, eslint --cache --fix

chore: set up deps and ts for server
  packages/server/package.json
  packages/server/tsconfig.json
Due: prettier --write

feat: added type definition for express and config
  packages/server/src/@types/config.d.ts
  packages/server/src/@types/express.d.ts
Due: prettier --write, eslint --cache --fix

feat: initialised express app with helpers
  packages/server/src/app.ts
  packages/server/src/helpers/database.ts
  packages/server/src/helpers/env.ts
  packages/server/src/helpers/httpError.ts
  packages/server/src/middlewares/errorHandler.ts
  packages/server/src/middlewares/responseWrapper.ts
  packages/server/src/models/User.ts
Due: prettier --write, eslint --cache --fix

chore: ignore all developement sensitive files
  .gitignore
Due: none

chore: moved eslint to packages
  package.json
  yarn.lock
Due: prettier --write

chore: re-ordered deps
  packages/server/package.json
Due: prettier --write

chore: update eslint exec files
  package.json
Due: prettier --write

chore: update eslint rules
  .eslintrc
Due: none

chore: added express validator
  packages/server/package.json
  yarn.lock
Due: prettier --write

refactor: clean up client app
  packages/client/src/App.tsx
  packages/client/src/index.tsx
Due: prettier --write, eslint --cache --fix

feat: added user router
  packages/server/src/app.ts
  packages/server/src/helpers/auth.ts
  packages/server/src/middlewares/validator.ts
  packages/server/src/repositories/base.ts
  packages/server/src/repositories/index.ts
  packages/server/src/repositories/user.ts
  packages/server/src/routes/user/index.ts
  packages/server/src/routes/user/validation.ts
  packages/server/src/services/index.ts
  packages/server/src/services/user.ts
Due: prettier --write, eslint --cache --fix

chore: added cookie-parser
  packages/server/package.json
  yarn.lock
Due: prettier --write

feat: added jwt to type def
  packages/server/src/@types/config.d.ts
  packages/server/src/@types/express.d.ts
Due: prettier --write, eslint --cache --fix

chore: updated eslintrc
  .eslintrc
Due: none

feat: added more types to common pack
  packages/common/index.ts
  packages/common/types/api/index.ts
  packages/common/types/api/login.ts
  packages/common/types/index.ts
Due: prettier --write, eslint --cache --fix

feat: implmented login
  packages/server/src/app.ts
  packages/server/src/constants/cookie.ts
  packages/server/src/helpers/auth.ts
  packages/server/src/middlewares/authentication.ts
  packages/server/src/middlewares/responseWrapper.ts
  packages/server/src/models/User.ts
  packages/server/src/routes/auth/index.ts
  packages/server/src/routes/auth/validation.ts
  packages/server/src/routes/user/index.ts
  packages/server/src/routes/user/validation.ts
  packages/server/src/services/auth.ts
  packages/server/src/services/index.ts
  packages/server/src/types/auth.ts
Due: prettier --write, eslint --cache --fix

chore: removed mocha, added jest
  packages/server/package.json
  yarn.lock
Due: prettier --write

chore: setup jest
  packages/server/babel.config.js
  packages/server/tsconfig.json
Due: prettier --write, eslint --cache --fix

chore: setup test env
  packages/server/config/test.json
Due: prettier --write

chore: removed nyc & power-assert
  packages/server/package.json
  yarn.lock
Due: prettier --write

chore: ignored coverage
  .gitignore
Due: none

test: added test
  packages/server/src/helpers/auth.spec.ts
Due: prettier --write, eslint --cache --fix

feat: implemented refresh token
  packages/server/src/@types/config.d.ts
  packages/server/src/constants/cookie.ts
  packages/server/src/helpers/database.ts
  packages/server/src/middlewares/authentication.ts
  packages/server/src/models/User.ts
  packages/server/src/repositories/base.ts
  packages/server/src/routes/auth/index.ts
  packages/server/src/routes/user/index.ts
  packages/server/src/services/auth.ts
  packages/server/src/types/auth.ts
Due: prettier --write, eslint --cache --fix

test: test repository layer
  packages/server/src/repositories/base.spec.ts
Due: prettier --write, eslint --cache --fix

chore: configured test env vars
  packages/server/config/test.json
Due: prettier --write

chore: added type check script
  packages/server/package.json
Due: prettier --write

refactor: structural refactoring
  packages/server/src/helpers/auth.spec.ts
  packages/server/src/routes/auth/handlers.ts
  packages/server/src/routes/auth/index.ts
  packages/server/src/routes/user/handlers.ts
  packages/server/src/routes/user/index.ts
  packages/server/src/services/auth/auth.ts
  packages/server/src/services/index.ts
  packages/server/src/services/user/user.ts
Due: prettier --write, eslint --cache --fix

test: added tests
  packages/server/src/helpers/spec/auth.spec.ts
  packages/server/src/routes/user/user.spec.ts
  packages/server/src/services/auth/auth.spec.ts
  packages/server/src/services/user/user.spec.ts
Due: prettier --write, eslint --cache --fix

wip
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/@types/emotion.d.ts
  packages/components/package.json
  packages/components/src/stories/Button.jsx
  packages/components/src/stories/Button.stories.jsx
  packages/components/src/stories/Header.jsx
  packages/components/src/stories/Header.stories.jsx
  packages/components/src/stories/Introduction.stories.mdx
  packages/components/src/stories/Page.jsx
  packages/components/src/stories/Page.stories.jsx
  packages/components/src/stories/assets/code-brackets.svg
  packages/components/src/stories/assets/colors.svg
  packages/components/src/stories/assets/comments.svg
  packages/components/src/stories/assets/direction.svg
  packages/components/src/stories/assets/flow.svg
  packages/components/src/stories/assets/plugin.svg
  packages/components/src/stories/assets/repo.svg
  packages/components/src/stories/assets/stackalt.svg
  packages/components/src/stories/button.css
  packages/components/src/stories/header.css
  packages/components/src/stories/page.css
  packages/components/src/style/breakpoint.ts
  packages/components/src/style/color/index.ts
  packages/components/src/style/color/primary.ts
  packages/components/src/style/color/secondary.ts
  packages/components/src/style/global.tsx
  packages/components/src/style/theme.ts
  packages/components/src/style/utils.ts
  packages/server/src/routes/user/handlers.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat: setup component pack
  packages/components/babel.config.js
  packages/components/package.json
  packages/components/src/components/Button/Button.spec.tsx
  packages/components/src/components/Button/Button.stories.tsx
  packages/components/src/components/Button/Button.tsx
  packages/components/src/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/components/src/stories/Button.jsx
  packages/components/src/stories/Button.stories.jsx
  packages/components/src/stories/Header.jsx
  packages/components/src/stories/Header.stories.jsx
  packages/components/src/stories/Introduction.stories.mdx
  packages/components/src/stories/Page.jsx
  packages/components/src/stories/Page.stories.jsx
  packages/components/src/stories/assets/code-brackets.svg
  packages/components/src/stories/assets/colors.svg
  packages/components/src/stories/assets/comments.svg
  packages/components/src/stories/assets/direction.svg
  packages/components/src/stories/assets/flow.svg
  packages/components/src/stories/assets/plugin.svg
  packages/components/src/stories/assets/repo.svg
  packages/components/src/stories/assets/stackalt.svg
  packages/components/src/stories/button.css
  packages/components/src/stories/header.css
  packages/components/src/stories/page.css
  packages/components/src/style/breakpoint.ts
  packages/components/src/style/color/primary.ts
  packages/components/src/style/color/secondary.ts
  packages/components/src/style/global.tsx
  packages/components/src/style/theme.ts
  packages/components/src/style/utils.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat: remove color group typing
  packages/components/src/style/color/index.ts
Due: prettier --write, eslint --cache --fix

feat: update
  packages/client/.eslintrc
  packages/client/config/paths.js
  packages/client/config/webpack.config.js
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/app/App.tsx
  packages/client/src/app/Global/GlobalContext.tsx
  packages/client/src/app/Routes/Routes.tsx
  packages/client/src/core/query/query.ts
  packages/client/src/index.tsx
  packages/components/babel.config.js
  packages/components/index.ts
  packages/components/src/components/Button/Button.tsx
  packages/components/src/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/components/src/components/Input/Input.spec.tsx
  packages/components/src/components/Input/Input.stories.tsx
  packages/components/src/components/Input/Input.tsx
  packages/components/src/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/components/src/components/index.ts
  packages/components/src/index.ts
  packages/components/src/style/index.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,md,html,json}
  eslint --cache --fix: any of: *.{js,ts,tsx}
